/*

font-family: 'Poppins', sans-serif;

*/

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #06075e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.32'%3E%3Ccircle fill='%2306075e' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23080872' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%230c0886' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%2312079a' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%231a04af' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%232200c4' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;  
    background-position: center;


min-height: 100vh;
min-width: 100vh;

display: flex;
align-items: center;
justify-content: center;
}

.container {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px;
}

.container h2{
    margin-bottom: 15px;
    text-align: center;
}

.input-field input {
    outline: 1px;
    font-size: 18px;
}

.input-field {
    display: flex;
    justify-content: center;
    padding: 15px;
    min-width: 22vw;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;


    margin-top: 20px;
}

.buttons span {
    font-size: 15px;
    color: rgb(62, 55, 55);
    text-align: center;
}

.buttons a {
    text-decoration: none;
    color: black;
}

.facebook-button {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
}

.facebook-button a {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.twitter-button {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
}

.twitter-button a {
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 5px;
}

.twitter-button:hover {
    letter-spacing: 0.2px;
    transition: all 300ms ease-in-out;
}

.facebook-button:hover {
    letter-spacing: 0.2px;
    transition: all 300ms ease-in-out;
}



.submit-button {
    background-color: #040a33;
    padding: 8px;
    color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 3px black;

    margin-top: 25px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.submit-button:hover {
    letter-spacing: 0.3px;
    background-color: #08145e;

}

form {
    display: flex;
    flex-direction: column;
}

.underline {
    display: flex;
    height: 1px;
    width: 220px;
    background-color: rgba(0, 0, 0, 0.537);
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;

    transition: all 0.5s ease-in-out
}